@{
    ViewData["Title"] = "Home Page";
}

@model string

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <form asp-action="Generar" method="post" class="row g-3">
        <div class="form-floating col-md-8">
            <label>Nueva Contraseña</label>
        </div>

        <div class="col-md-4">
            <button type="submit" class="btn btn-outline-info">Generar</button>
        </div>
    </form>
</div>

<div class="row g-3 mt-3">
    <div class="col-md-6">
        <h4>@Model</h4>
    </div>

    @{  if (Model is not null)
        {
            <div class="col-md-6">
                <a asp-action="Modificar" class="btn btn-primary" asp-route-id="@Model">Modificar Contraseña</a>
            </div>
        }
    }
</div>